@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;}


 body { /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap; */
    background: #010615;}

.header {
    color: rgb(223, 223, 223);
    margin-left: 20px;
    margin-top: 40px;
    border-bottom: solid 1px rgb(17, 201, 1);
}

.smallheader {
    color: rgb(206, 206, 206);
}

.css-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #16f30d;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 50px;
    box-shadow: 0px 0px 11px rgba(70,250,13,.49);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
    /* -webkit-box-shadow: 10px 21px 75px 0px rgba(8,201,11,1);
    -moz-box-shadow: 10px 21px 75px 0px rgba(8,201,11,1); */
    box-shadow: 0px 0px 20px 0px rgba(8,201,11,1);
}

.paramrow {
    margin-top: 20px;
}

.header {
    font-size: 20px;
    text-transform: uppercase;
}

.flipswitch {
    position: relative;
    width: 85px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
  }
  .flipswitch input[type=checkbox] {
    display: none;
  }
  .flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 40px;
  }
  .flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    -moz-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
  }
  .flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 25px;
    padding: 0;
    line-height: 25px;
    font-size: 15px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .flipswitch-inner:before {
    content: "ДА";
    padding-left: 18px;
    background-color: #1ae009;
    color: #FFFFFF;
  }
  .flipswitch-inner:after {
    content: "НЕТ";
    padding-right: 18px;
    background-color: #fa0f0f;
    color: #000000;
    text-align: right;
  }
  .flipswitch-switch {
    width: 29px;
    margin: -2px;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
  }
  .flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
  }

  